{% extends 'layout.html' %}

{% block head %}
<title>Bron-Soup</title>
{% endblock %}

{% block body %}
<div class="container h1 text-center">
    <div class="row">
        <div class="col">
            <img src="digital_scoreboard" alt="triangle with equal sides" srcset="../static/digit_score.svg">
        </div>
        <div class="col-8 display-2">
        <br>
        </div>
        <div class="col">
            <img src="digital_scoreboard" alt="triangle with equal sides" srcset="../static/digit_score.svg">  
        </div>
</div> 
<div class="h2 text-center stat-lines" >
    about Page
</div>>

{% endblock %}